<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-10 pt-3">
            <div class="card shadow-sm rounded mb-3">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-11">
                            <h5><strong>Dados da Comissão</strong></h5>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-success btn-sm float-right" ng-hide="vm.editar" ng-click="vm.habilitarCamposParaEdicao();">
                                <i class="fa fa-pen"></i>
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label for="nomeComissao" class="col-md-3 col-form-label"><small><i class="fa fa-asterisk text-danger" ng-hide="vm.comissao.Name"></i></small> Nome</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="vm.comissao.Name" id="nomeComissao" class="form-control" ng-disabled="!vm.editar" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="defaultCheck1">
                            Permanente
                        </label>
                        <div class="col-md-9">
                            <input class="form-check-input ml-0" type="checkbox" ng-model="vm.comissao.Permanent" id="defaultCheck1" ng-disabled="!vm.editar">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="referenciaDocumento" class="col-md-3 col-form-label"><small><i class="fa fa-asterisk text-danger" ng-hide="vm.comissao.SeiUnitCommission"></i></small> Unidade no SEI</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="vm.comissao.SeiUnitCommission" placeholder="Digite o nome da unidade SEI" uib-typeahead="unidade as unidade.Descricao for unidade in vm.unidadesSEI | filter:{Descricao:$viewValue} | limitTo: 15" class="form-control" ng-disabled="!vm.editar">
                        </div>
                    </div>
                </div>
            </div>

</body>
</html>