<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<p ng-show="mensagem.length" class="alert alert-info">
    {{mensagem}}
</p>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="/fotos/new" class="btn btn-primary" type="button">
                        Nova foto
                    </a>
                </span>
                <input class="form-control" placeholder="filtrar pelo título da foto" ng-model="filtro" ng-model-options="{ debounce: 500 }"> <!--ng-model serve para referenciar esses mesmos nomes dentro do arquivo .js-->
            </div>
        </form>

    </div>
</div>

<div class="row">

    <meu-painel class="col-md-2 painel-animado.ng-leave-active painel-animado" ng-repeat="foto in fotos | filter:filtro" titulo="{{foto.titulo}}">
        <!-- ng-repeat="foto in fotos | filter:filtro" essa declaração faz filtrar dentro ng repeat-->

        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>

        <a href="/fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">EDITAR</a> <!--uso do link porque vai direcionar para outra pagina-->
        <meu-botao-perigo nome="Remover" acao="remover(foto)"></meu-botao-perigo><!--uso do botão porque vai continuar na pagina-->
    </meu-painel>
   
</div><!--Fim do painel-->
